<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Matcha - Erreur 404</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/theme.css">
	</head>
	<body>
		<div class="container-fluid">
			<%- include includes/header.ejs %>
			<div class="text-center">
				<h1>Oops...</h1>
				<h3>La page <a><%= url %></a> n'a pas été trouvée.<br />Vous allez être rediriger vers l'accueil dans <span id="timer">5</span></h3>
			</div>
			<%- include includes/footer.ejs %>
		</div>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script>
			$(document).ready(function(){
				var times = 5;
				function time()
				{
					times--;
					if (times == 0)
						window.location.replace("/");
					$("#timer").html(times);
				}
				setInterval(time, 1000);
			});
		</script>
	</body>
</html>