<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Matcha - Nouveau mot de passe</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/theme.css">
	</head>
	<body>
		<div class="container-fluid">
			<%- include includes/header.ejs %>
			<div class="text-center">
				<form action="/newpwd" method="POST">
					<input type="mail" name="mail" placeholder="mon-mail@gmail.com" value="" />
					<input type="submit" value="Réclamer un nouveau mot de passe" />
				</form>
			</div>
			<%- include includes/footer.ejs %>
		</div>


		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>